/*
	June Gloom Webpage style sheet
	Filename: styles.css
	Author: Amy Upthagrove
	Date: 12/11/21
*/

/*body and page container*/
.container {
  background-color: pink;
}
body {
  background-color: orange;
}

header {
  text-align: center;
  color: gray;
}
nav.pagenavigation {
  margin-top: 1em;
  text-align: center;
  color: white;
  background-color: beige;
}
nav.pagenavigation p {
  display: inline-block;
  margin: 2em;
  padding: 0;
}
nav.pagenavigation a:link {
  text-decoration: none;
  color: #cbb58b;
}
nav.pagenavigation a:hover {
  color: orange;
  background-color: pink;
}
article {
  text-align: center;
  color: white;
}

/*footer rules*/
#contact {
  text-align: center;
  color: white;
}
*/
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
